[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "jupyter notebook"
build-migrations-flow = "npm --prefix ./migrations-flow run build"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
torch = "==0.4.1"
xlrd = "*"
matplotlib = "*"
numba = "*"
seaborn = "*"
scikit-learn = "*"
sklearn-pandas = "*"
pydotplus = "*"

[dev-packages]

[requires]
python_version = "3.6"
